<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cvte.boost.native.static.md_d" version="1.5.9" targetFramework="native" />
  <package id="Cvte.jsoncpp.native.dynamic.md_d" version="1.7.4" targetFramework="native" />
  <package id="Cvte.logger.native.dynamic.md_d" version="1.3.5.103" targetFramework="native" />
  <package id="Cvte.PublicUtils.native.md_d" version="0.1.6-gamma" targetFramework="native" />
</packages>